/* Root variables */
$menuWidth: 320px;
$feedbackWidth: 320px;

/* Color variables */
$colorWhite: white;
$colorGhostWhite: #F8F8F8;
$colorWhiteSmoke: #EAEAEA;
$colorTurquoise: #41F6D7;
$colorPaleTurquoise: #B8FFEC;
$colorShadeBlack: #1B1C21;
$colorShadeGray: #7E7E82;
$colorShadeSilver: #B5B6BC;
