:root {
  --base-width: 768px;
  --base-height: 504px;
  --main-headline-height: 64px;
  --main-headline-margin-bottom: 24px;
  --main__brands-swiper-wrapper-repeat-width: 224px;
  --main__brands-swiper-wrapper-gap: 16px;
}

html {
  min-width: var(--base-width);
  background: #FFF;
}

body {
  margin: 0;
}


.main__show-all {
  @media all and (max-width: 991px) {
    margin-left: calc(((100% - var(--base-width)) / 2) + 30px);
  }
  @media all and (min-width: 992px) and (max-width: 1120px) {
    margin-left: calc(((100% - var(--base-width) - var(--main__brands-swiper-wrapper-repeat-width)) / 2) + 20px);
  }
}


/* Заголовок страницы */
.header__burger,
.header__burger + .header__divider,
.main__menu-header-logo {
  margin-right: auto;
}

.header__call,
.header__chat,
.header__profile,
.header__profile + .header__divider,
.header__repair,
.header__checkStatus {
  margin-left: auto;
}

.header.menu__active .header__burger,
.header.menu__active .header__divider,
.header.menu__active .header__call,
.header.menu__active .header__chat,
.header.menu__active .header__profile,
.header.menu__active .header__repair,
.header.menu__active .header__checkStatus {
  display: none;
}

.header.menu__active .header__close,
.header.menu__active .header__search {
  display: block;
}

.header__divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #EAEAEA;
}


/* Основной контент */
.menu.menu__active + .main {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: var(--base-height);
  background: #F8F8F8;
}

.main__headline {
  display: flex;
  height: var(--main-headline-height);
  margin-bottom: var(--main-headline-margin-bottom);
}

.main__headline-highlight {
  align-self: flex-end;
  flex: 0 0 4px;
  height: 40px;
  background: #41F6D7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__headline-repair,
.main__headline-checkStatus {
  display: none;
}

.main__headline h1 {
  align-self: flex-end;
  flex: 1;
  margin: 0 16px 0 16px;
  color: #1B1C21;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__pagination {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 0 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.main__pagination::-webkit-scrollbar {
  display: none;
}

.main__pagination-item {
  height: 36px;
  white-space: nowrap;
}

.main__pagination-fade {
  height: 40px;
  margin-top: calc(var(--main-headline-height) + var(--main-headline-margin-bottom));
}

.main__pagination-item.main__pagination-item--active {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: #FFF;
}

.main__pagination-button {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  background: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7E7E82;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 0 15px 0 15px;
}

ul.main__pagination {
  list-style: none;
  padding: 0;
}

li.main__pagination-item {
  margin-left: 16px;
}


/* Блок с статьями */
.main__article {
  display: flex;
}

.main__article-textWrapper {
  display: flex;
  flex-direction: column;
}

.main__article-text {
  padding: 0 48px 16px 16px;
}

p.main__article-text {
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0;
}

.main__article-read-more {
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  /*background-image: url("/img/expand.svg");*/
  background-image: var(--expand-svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.main__article-read-more a {
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 8px;
  text-decoration: none;
}

.main__article-img {
  width: 360px;
  margin: 0 25px 25px 25px;
}


/* Ремонтируемые бренды */
.main__brands {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #F8F8F8;
}

.main__brands-fade {
  display: none;
}

.main__brands-swiper {
  width: 100%;
  margin-bottom: 16px;
}

.main__brands-swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--main__brands-swiper-wrapper-repeat-width));
  gap: var(--main__brands-swiper-wrapper-gap);
  width: 100%;
  justify-content: center;
  overflow: hidden;
  @media all and (max-width: 1120px) {
    height: 180px;
  }
}

.main__brands-swiper-wrapper.main__brands-show-all_enable {
  height: 100%;
}

.main__show-all.main__brands-show-all_enable .main__show-all-img {
  transform: rotate(180deg);
}


/* Ремонтируемые техники */
.main__equipment {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #F8F8F8;
}

.main__equipment-fade {
  display: none;
}

.main__equipment-label {
  width: 220px;
  height: 160px;
}

.main__equipment-label-text {
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
}

.main__equipment-button {
  margin: auto 0 0 auto;
}

.main__equipment-swiper {
  width: 100%;
  margin-bottom: 16px;
}

.main__equipment-swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--main__brands-swiper-wrapper-repeat-width));
  gap: var(--main__brands-swiper-wrapper-gap);
  width: 100%;
  justify-content: center;
  overflow: hidden;
  @media all and (max-width: 1120px) {
    height: 175px;
  }
}

.main__equipment-swiper-wrapper.main__equipment-show-all_enable {
  height: 100%;
}

.main__show-all.main__equipment-show-all_enable .main__show-all-img {
  transform: rotate(180deg);
}


/* Цены на услуги */
.main__price-swiper-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}

.main__price-label {
  position: relative;
  border: none;
  border-radius: 0;
}

.main__price-label::before,
.main__price-label::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 1px;
  background-color: #EAEAEA;
}

.main__price-swiper-slide:nth-child(1) .main__price-label::before,
.main__price-swiper-slide:nth-child(1) .main__price-label::after {
  height: 0;
}

.main__price-swiper-slide:last-child .main__price-label::before,
.main__price-swiper-slide:last-child .main__price-label::after {
  height: 0;
}

.main__price-swiper-slide:nth-child(1) .main__price-label {
  border-radius: 6px 6px 0 0;
}

.main__price-swiper-slide:last-child .main__price-label {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}

.main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-label {
  background-color: #f8f8f8;
  border: none;
  padding: 0 16px;
}

.main__price-header-service {
  display: none;
}

.main__description-of-service {
  color: #1B1C21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: auto auto auto 0;
}

.main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-right: auto;
}

.main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(1) {
  min-width: 348px;
}

.main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(2) {
  min-width: 60px;
}

.main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(3) {
  min-width: 200px;
}

.main__description-of-service:nth-child(2) {
  min-width: 348px;
}

.main__description-of-service:nth-child(4) {
  min-width: 60px;
}

.main__description-of-service:nth-child(6) {
  min-width: 90px;
}

.main__selected-action-button {
  margin: auto 0;
}


/* Описание НДС */
.main__nds-description {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 50px;
}

.main__nds-description-text {
  width: 420px;
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.main__nds-description-button {
  display: flex;
  border: none;
  background-color: #F8F8F8;
  cursor: pointer;
  width: 320px;
  flex-shrink: 0;
}

.main__nds-description-button-text {
  width: 100%;
  text-align: left;
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
}

.main__nds-description-arrow {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}


/* Футер */
.footer {
  display: flex;
  color: #7E7E82;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.7218;
  margin: 16px 16px 0;
}

.footer__text {
  margin: 16px auto 32px 0;
  text-align: left;
}

.footer__text:nth-child(3) {
  width: 214px;
  margin: 16px 0 32px 0;
  text-align: right;
}
