@charset "UTF-8";
/* Root variables */
/* Color variables */
/* Root variables */
html {
  min-width: 768px;
  background: white;
}

body {
  margin: 0;
}

/* Заголовок страницы */
.header .header__burger,
.header .header__burger + .header__divider,
.header .main__menu-header-logo {
  margin-right: auto;
}
.header .header__call,
.header .header__chat,
.header .header__profile,
.header .header__profile + .header__divider,
.header .header__repair,
.header .header__checkStatus {
  margin-left: auto;
}
.header.menu__active .header__burger,
.header.menu__active .header__divider,
.header.menu__active .header__call,
.header.menu__active .header__chat,
.header.menu__active .header__profile,
.header.menu__active .header__repair,
.header.menu__active .header__checkStatus {
  display: none;
}
.header.menu__active .header__close,
.header.menu__active .header__search {
  display: block;
}
.header .header__divider {
  width: 2px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #EAEAEA;
}

/* Обратная связь и обратный звонок */
.feedback {
  height: 100%;
}
.feedback .feedback__close {
  margin-top: 8px;
}
.feedback.feedback__active .feedback__close {
  display: block;
  margin-left: -90px !important;
  background-color: rgba(0, 0, 0, 0);
}

.back-call {
  height: 100%;
}
.back-call .back-call__close {
  margin-top: 8px;
}
.back-call.back-call__active .back-call__close {
  display: block;
  margin-left: -90px !important;
  background-color: rgba(0, 0, 0, 0);
}

/* Меню */
.menu.menu__active + .main {
  display: none;
}

/* Основной контент */
.main {
  display: flex;
  flex-direction: column;
  min-height: 504px;
  background: #F8F8F8;
  /* Заголовок основного блока */
  /* Горизонтальное меню */
  /* Блок с статьями */
  /* Ремонтируемые бренды */
  /* Ремонтируемые техники */
  /* Цены на услуги */
  /* Описание НДС */
}
@media all and (max-width: 991px) {
  .main .main__show-all {
    margin-left: calc((100% - 768px) / 2 + 30px);
  }
}
@media all and (min-width: 992px) and (max-width: 1120px) {
  .main .main__show-all {
    margin-left: calc((100% - 768px - 224px) / 2 + 20px);
  }
}
.main .main__show-all.main__brands-show-all_enable .main__show-all-img {
  transform: rotate(180deg);
}
.main .main__show-all.main__equipment-show-all_enable .main__show-all-img {
  transform: rotate(180deg);
}
.main .main__headline {
  display: flex;
  height: 64px;
  margin-bottom: 24px;
}
.main .main__headline h1 {
  align-self: flex-end;
  flex: 1;
  margin: 0 16px 0 16px;
  color: #1B1C21;
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}
.main .main__headline-highlight {
  align-self: flex-end;
  flex: 0 0 4px;
  height: 40px;
  background: #41F6D7;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.main .main__headline-repair,
.main .main__headline-checkStatus {
  display: none;
}
.main .main__pagination {
  display: flex;
  height: 40px;
  align-items: center;
  margin: 0 0 16px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
}
.main .main__pagination::-webkit-scrollbar {
  display: none;
}
.main .main__pagination-item {
  height: 36px;
  white-space: nowrap;
  margin-left: 16px;
}
.main .main__pagination-item.main__pagination-item--active {
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  background: white;
}
.main .main__pagination-fade {
  height: 40px;
  margin-top: 88px;
}
.main .main__pagination-button {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
  background: none;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7E7E82;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 0 15px 0 15px;
}
.main .main__article {
  display: flex;
}
.main .main__article-textWrapper {
  display: flex;
  flex-direction: column;
}
.main .main__article-text {
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0 48px 16px 16px;
}
.main .main__article-read-more {
  display: flex;
  height: 24px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
  /*background-image: url("/img/expand.svg");*/
  background-image: var(--expand-svg);
  background-repeat: no-repeat;
  background-position: left center;
}
.main .main__article-read-more a {
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-left: 8px;
  text-decoration: none;
}
.main .main__article-img {
  width: 360px;
  margin: 0 25px 25px 25px;
}
.main .main__brands {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #F8F8F8;
}
.main .main__brands-fade {
  display: none;
}
.main .main__brands-swiper {
  width: 100%;
  margin-bottom: 16px;
}
.main .main__brands-swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  gap: 16px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
@media all and (max-width: 1120px) {
  .main .main__brands-swiper-wrapper {
    height: 180px;
  }
}
.main .main__brands-swiper-wrapper.main__brands-show-all_enable {
  height: 100%;
}
.main .main__equipment {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #F8F8F8;
}
.main .main__equipment-fade {
  display: none;
}
.main .main__equipment-label {
  width: 220px;
  height: 160px;
}
.main .main__equipment-label-text {
  color: #1B1C21;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
}
.main .main__equipment-button {
  margin: auto 0 0 auto;
}
.main .main__equipment-swiper {
  width: 100%;
  margin-bottom: 16px;
}
.main .main__equipment-swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 224px);
  gap: 16px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
@media all and (max-width: 1120px) {
  .main .main__equipment-swiper-wrapper {
    height: 175px;
  }
}
.main .main__equipment-swiper-wrapper.main__equipment-show-all_enable {
  height: 100%;
}
.main .main__price-swiper-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
}
.main .main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-label {
  background-color: #F8F8F8;
  border: none;
  padding: 0 16px;
}
.main .main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service {
  display: block;
  color: #7E7E82;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin-right: auto;
}
.main .main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(1) {
  min-width: 348px;
}
.main .main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(2) {
  min-width: 60px;
}
.main .main__price-swiper-wrapper .main__price-swiper-slide:nth-child(1) .main__price-header-service:nth-child(3) {
  min-width: 200px;
}
.main .main__price-label {
  position: relative;
  border: none;
  border-radius: 0;
}
.main .main__price-label::before, .main .main__price-label::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 1px;
  background-color: #EAEAEA;
}
.main__price-swiper-slide:nth-child(1) .main .main__price-label::before, .main__price-swiper-slide:nth-child(1) .main .main__price-label::after, .main__price-swiper-slide:last-child .main .main__price-label::before, .main__price-swiper-slide:last-child .main .main__price-label::after {
  height: 0;
}
.main__price-swiper-slide:nth-child(1) .main .main__price-label {
  border-radius: 6px 6px 0 0;
}
.main__price-swiper-slide:last-child .main .main__price-label {
  border-bottom: none;
  border-radius: 0 0 6px 6px;
}
.main .main__price-header-service {
  display: none;
}
.main .main__description-of-service {
  color: #1B1C21;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  margin: auto auto auto 0;
}
.main .main__description-of-service:nth-child(2) {
  min-width: 348px;
}
.main .main__description-of-service:nth-child(4) {
  min-width: 60px;
}
.main .main__description-of-service:nth-child(6) {
  min-width: 90px;
}
.main .main__selected-action-button {
  margin: auto 0;
}
.main .main__nds-description {
  display: flex;
  flex-direction: column;
  margin: 16px 16px 50px;
}
.main .main__nds-description-text {
  width: 420px;
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.main .main__nds-description-button {
  display: flex;
  border: none;
  background-color: #F8F8F8;
  cursor: pointer;
  width: 320px;
  flex-shrink: 0;
}
.main .main__nds-description-button-text {
  width: 100%;
  text-align: left;
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
}
.main .main__nds-description-arrow {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

/* Футер */
.footer {
  display: flex;
  color: #7E7E82;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  opacity: 0.7218;
  margin: 16px 16px 0;
}

.footer__text {
  margin: 16px auto 32px 0;
  text-align: left;
}
.footer__text:nth-child(3) {
  width: 214px;
  margin: 16px 0 32px 0;
  text-align: right;
}

/*# sourceMappingURL=laptop-style.css.map */
