@import 'common-variables';

/* Root variables */
$baseWidth: 768px;
$baseHeight: 504px;
$mainHeadlineHeight: 64px;
$mainHeadlineMarginBottom: 24px;
$mainBrandsSwiperWrapperRepeatWidth: 224px;
$mainBrandsSwiperWrapperGap: 16px;

@media all and (min-width: 768.02px) and (max-width: 1120.00px) {
  html {
    min-width: $baseWidth;
    background: $colorWhite;
  }

  body {
    margin: 0;
  }


  /* Заголовок страницы */
  .header {
    .header__burger,
    .header__burger + .header__divider,
    .main__menu-header-logo {
      margin-right: auto;
    }

    .header__call,
    .header__chat,
    .header__profile,
    .header__profile + .header__divider,
    .header__repair,
    .header__checkStatus {
      margin-left: auto;
    }

    &.menu__active {
      .header__burger,
      .header__divider,
      .header__call,
      .header__chat,
      .header__profile,
      .header__repair,
      .header__checkStatus {
        display: none;
      }

      .header__close,
      .header__search {
        display: block;
      }
    }

    .header__divider {
      width: 2px;
      height: 32px;
      flex-shrink: 0;
      border-radius: 1px;
      background: $colorWhiteSmoke;
    }
  }


  /* Обратная связь и обратный звонок */
  .feedback {
    height: 100%;

    .feedback__close {
      margin-top: 8px;
    }

    &.feedback__active {
      .feedback__close {
        display: block;
        margin-left: -90px !important;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }

  .back-call {
    height: 100%;

    .back-call__close {
      margin-top: 8px;
    }

    &.back-call__active {
      .back-call__close {
        display: block;
        margin-left: -90px !important;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }


  /* Меню */
  .menu {
    &.menu__active + .main {
      display: none;
    }
  }


  /* Основной контент */
  .main {
    display: flex;
    flex-direction: column;
    min-height: $baseHeight;
    background: $colorGhostWhite;

    .main__show-all {
      @media all and (max-width: 991px) {
        margin-left: calc(((100% - $baseWidth) / 2) + 30px);
      }
      @media all and (min-width: 992px) and (max-width: 1120px) {
        margin-left: calc(((100% - $baseWidth - $mainBrandsSwiperWrapperRepeatWidth) / 2) + 20px);
      }

      &.main__brands-show-all_enable {
        .main__show-all-img {
          transform: rotate(180deg);
        }
      }

      &.main__equipment-show-all_enable {
        .main__show-all-img {
          transform: rotate(180deg);
        }
      }
    }

    /* Заголовок основного блока */
    .main__headline {
      display: flex;
      height: $mainHeadlineHeight;
      margin-bottom: $mainHeadlineMarginBottom;

      h2 {
        align-self: flex-end;
        flex: 1;
        margin: 0 16px 0 16px;
        color: $colorShadeBlack;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
      }
    }

    .main__headline-highlight {
      align-self: flex-end;
      flex: 0 0 4px;
      height: 40px;
      background: $colorTurquoise;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    .main__headline-repair,
    .main__headline-checkStatus {
      display: none;
    }

    /* Горизонтальное меню */
    .main__pagination {
      display: flex;
      height: 40px;
      align-items: center;
      margin: 0 0 16px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      list-style: none;
      padding: 0;

      .main__pagination-item {
        height: 36px;
        white-space: nowrap;
        margin-left: 16px;

        &.main__pagination-item--active {
          border-radius: 6px;
          border: 2px solid $colorPaleTurquoise;
          background: $colorWhite;
        }

        .main__pagination-button {
          width: 100%;
          height: 100%;
          display: flex;
          border: none;
          background: none;
          font-size: 16px;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          color: $colorShadeGray;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
          padding: 0 15px 0 15px;
        }
      }
    }

    .main__pagination::-webkit-scrollbar {
      display: none;
    }

    .main__pagination-fade {
      height: 40px;
      margin-top: calc($mainHeadlineHeight + $mainHeadlineMarginBottom);
    }

    /* Блок с статьями */
    .main__article {
      display: flex;

      .main__article-textWrapper {
        display: flex;
        flex-direction: column;

        .main__article-text {
          color: $colorShadeBlack;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.2px;
          margin: 0;
          padding: 0 48px 16px 16px;
        }

        .main__article-read-more {
          display: flex;
          height: 24px;
          margin-left: 16px;
          margin-bottom: 16px;
          padding-left: 16px;
          /*background-image: url("/img/expand.svg");*/
          background-image: var(--expand-svg);
          background-repeat: no-repeat;
          background-position: left center;

          a {
            color: $colorShadeBlack;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
            margin-left: 8px;
            text-decoration: none;
          }
        }
      }

      .main__article-img {
        width: 360px;
        margin: 0 25px 25px 25px;
      }
    }

    /* Ремонтируемые бренды */
    .main__brands {
      display: flex;
      flex-direction: column;
      padding: 24px;
      background-color: $colorGhostWhite;

      .main__brands-fade {
        display: none;
      }

      .main__brands-swiper {
        width: 100%;
        margin-bottom: 16px;

        .main__brands-swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, $mainBrandsSwiperWrapperRepeatWidth);
          gap: $mainBrandsSwiperWrapperGap;
          width: 100%;
          justify-content: center;
          overflow: hidden;
          @media all and (max-width: 1120px) {
            height: 180px;
          }

          &.main__brands-show-all_enable {
            height: 100%;
          }
        }
      }
    }

    /* Ремонтируемые техники */
    .main__equipment {
      display: flex;
      flex-direction: column;
      padding: 24px;
      background-color: $colorGhostWhite;

      .main__equipment-fade {
        display: none;
      }

      .main__equipment-swiper {
        width: 100%;
        margin-bottom: 16px;

        .main__equipment-swiper-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fit, $mainBrandsSwiperWrapperRepeatWidth);
          gap: $mainBrandsSwiperWrapperGap;
          width: 100%;
          justify-content: center;
          overflow: hidden;
          @media all and (max-width: 1120px) {
            height: 175px;
          }

          .main__equipment-label {
            width: 220px;
            height: 160px;

            .main__equipment-label-text {
              color: $colorShadeBlack;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: -0.2px;
              margin: 0;
            }

            .main__equipment-button {
              margin: auto 0 0 auto;
            }
          }

          &.main__equipment-show-all_enable {
            height: 100%;
          }
        }
      }
    }

    /* Цены на услуги */
    .main__price-swiper-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      margin-right: 16px;

      .main__price-swiper-slide {
        .main__price-label {
          position: relative;
          border: none;
          border-radius: 0;

          .main__price-header-service {
            display: none;
          }

          .main__description-of-service {
            color: $colorShadeBlack;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.2px;
            margin: auto auto auto 0;

            &:nth-child(2) {
              min-width: 348px;
            }

            &:nth-child(4) {
              min-width: 60px;
            }

            &:nth-child(6) {
              min-width: 90px;
            }
          }

          .main__selected-action-button {
            margin: auto 0;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 16px;
            right: 16px;
            bottom: 0;
            height: 1px;
            background-color: $colorWhiteSmoke;
          }

          .main__price-swiper-slide:nth-child(1) {
            border-radius: 6px 6px 0 0;
          }

          .main__price-swiper-slide:last-child {
            border-bottom: none;
            border-radius: 0 0 6px 6px;
          }
        }

        &:nth-child(2) {
          .main__price-label {
            border-radius: 6px 6px 0 0;
          }
        }

        &:last-child {
          .main__price-label {
            border-bottom: none;
            border-radius: 0 0 6px 6px;
          }
        }

        &:nth-child(1) .main__price-label::before,
        &:nth-child(1) .main__price-label::after,
        &:last-child .main__price-label::before,
        &:last-child .main__price-label::after {
          height: 0;
        }

        &:nth-child(1) .main__price-header-service {
          display: block;
          color: $colorShadeGray;
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          margin-right: auto;
        }

        &:nth-child(1) {
          .main__price-label {
            background-color: $colorGhostWhite;
            border: none;
            padding: 0 16px;
          }
        }

        &:nth-child(1) {
          .main__price-header-service:nth-child(1) {
            min-width: 348px;
          }
        }

        &:nth-child(1) {
          .main__price-header-service:nth-child(2) {
            min-width: 60px;
          }
        }

        &:nth-child(1) {
          .main__price-header-service:nth-child(3) {
            min-width: 200px;
          }
        }
      }
    }

    /* Описание НДС */
    .main__nds-description {
      display: flex;
      flex-direction: column;
      margin: 16px 16px 50px;

      .main__nds-description-text {
        width: 420px;
        color: #1B1C21;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.2px;
      }

      .main__nds-description-button {
        display: flex;
        border: none;
        background-color: #F8F8F8;
        cursor: pointer;
        width: 320px;
        flex-shrink: 0;

        .main__nds-description-button-text {
          width: 100%;
          text-align: left;
          color: #1B1C21;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.2px;
          margin: 0;

          .main__nds-description-arrow {
            display: inline-block;
            margin-top: auto;
            margin-bottom: auto;
          }
        }
      }
    }
  }


  /* Футер */
  .footer {
    display: flex;
    color: #7E7E82;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.7218;
    margin: 16px 16px 0;

    .footer__text {
      margin: 16px auto 32px 0;
      text-align: left;

      &:nth-child(3) {
        width: 214px;
        margin: 16px 0 32px 0;
        text-align: right;
      }
    }
  }
}
