@import "common-variables";
@import "general-style";
@import "mobile-style";
@import "laptop-style";
@import "desktop-style";

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
  url('../font/TTLakes/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Regular.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Thin.eot');
  src: local('TT Lakes Thin'), local('TTLakes-Thin'),
  url('../font/TTLakes/TTLakes-Thin.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Thin.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-ExtraLight.eot');
  src: local('TT Lakes ExtraLight'), local('TTLakes-ExtraLight'),
  url('../font/TTLakes/TTLakes-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-ExtraLight.woff') format('woff'),
  url('../font/TTLakes/TTLakes-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Light.eot');
  src: local('TT Lakes Light'), local('TTLakes-Light'),
  url('../font/TTLakes/TTLakes-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Light.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
  url('../font/TTLakes/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Bold.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
  url('../font/TTLakes/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Medium.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-DemiBold.eot');
  src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
  url('../font/TTLakes/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-DemiBold.woff') format('woff'),
  url('../font/TTLakes/TTLakes-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-ExtraBold.eot');
  src: local('TT Lakes ExtraBold'), local('TTLakes-ExtraBold'),
  url('../font/TTLakes/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-ExtraBold.woff') format('woff'),
  url('../font/TTLakes/TTLakes-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../font/TTLakes/TTLakes-Black.eot');
  src: local('TT Lakes Black'), local('TTLakes-Black'),
  url('../font/TTLakes/TTLakes-Black.eot?#iefix') format('embedded-opentype'),
  url('../font/TTLakes/TTLakes-Black.woff') format('woff'),
  url('../font/TTLakes/TTLakes-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

html {
  font-family: TT Lakes, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
